{% load static %}
<!DOCTYPE html>
 <html>
 <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 </head>
    <header>
      <h1> <a src="Test" href="\home\">N D 7.💣R G </a> </h1>
       <div class="topnav">
  <a class="active" href="\home\">Home</a>
  <a href="#COTW">COMBOS OF THE WEEK</a>
  <a href="#GOATC">GOAT COMBOS</a>
  <a href="\submit\"> SUBMIT A COMBO</a>
</div>
</header>
      <body>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://clips.twitch.tv/embed?autoplay=false&clip=BovineBrainyKiwiKappaClaus&tt_content=embed&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
        </div>
       </body>

    <html>