
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        {% load static %}

       <link rel='stylesheet' type='text/css' href="{% static 'polls/styles.css' %}">
        <title>ND7.org</title>

    </head>
       <body>
            <h1>P R O J E C T : N D 7</h1>


                     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                  <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="\submit\">Submit a combo</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="{% url 'polls:list' %}">Archive</a>
                                  </li>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Game Version
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                      <a class="dropdown-item" href="N64/">64</a>
                                      <a class="dropdown-item" href="#">melee</a>
                                      <a class="dropdown-item" href="#">brawl</a>
                                       <a class="dropdown-item" href="#">Wii U</a>
                                       <a class="dropdown-item" href="#">Ultimate </a>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                        </nav>



        </body>

    <footer>


    </footer>

</html>
