h3 {
   color: red;
}

main {
    background-image: url('../img/granit.jpeg');
}

p1{
    color: yellow;
}


    .navbar-vote{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    margin: 1px 1px;
    padding: 1px 2px;
    height: 300px;
    width: 300px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left;
    white-space: normal;
}


}
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.pink { color: pink; }

.blue { color: blue; }