{% load static %}
        <div class="btn-group">
            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Luigi.html">
                <button type="submit"><img src=/img/layout_N64/Luigi.png" height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Mario.html">
                <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Mario.png" height="300" width="300"/></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\DK.html">
                <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Dk.png" height="300" width="300"/></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Link.html">
                <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Link.png" height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Samus.html">
              <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Samus.png" height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\CF.html">
              <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Captian Falcon.png"height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Ness.html">
              <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Ness.png" height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Yoshi.html">
              <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Yoshi.png" height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Kirby.html">
              <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Kirby.png" height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Fox.html">
              <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Fox.png" height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Pikachu.html">
              <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Pikachu.png" height="300" width="300"></button>
            </form>

            <form method="get" action="C:\Users\gij0\Desktop\Gio\Characters\Jiggly.html">
              <button type="submit"><img src="C:\Users\gij0\Desktop\Gio\Img\Jiggly.png" height="300" width="300"></button>
            </form>

        </div>

      </body>